<div class="content" align ="justify">
  {% if post.project_link != empty %}
  <h3><a href="{{ post.project_link }}" class="project-link">{{ post.title }}</a> </h3>
  <p class="excerpt">{{ post.lead_text }}</p>
  {% endif %}
  
  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
